.search-bar {
    max-height: 64px;
    flex: 1;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--95, #F2F2F2);
    filter: drop-shadow(0px 3px 8px rgba(0, 0, 0, 0.10)) drop-shadow(0px 14px 14px rgba(0, 0, 0, 0.09)) drop-shadow(0px 31px 19px rgba(0, 0, 0, 0.05)) drop-shadow(0px 56px 22px rgba(0, 0, 0, 0.01)) drop-shadow(0px 87px 24px rgba(0, 0, 0, 0.00));
    box-sizing: border-box;
    padding: 8px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}

.search-icon {
    width: 40px;
    height: 40px;
    border-style: none;
    cursor: pointer;
    margin-right: 16px;
}

.search-input {
    color: var(--Cinza-azulado-Escuro, var(--Outer-Space-900, #373E41));
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Quicksand;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
}