.div_container_header {
    display: flex;
    justify-content: center;
    height: 13vh;
    width: 100%;
    background-color: rgba(240, 255, 255, 0);
    z-index: 999;
    position: fixed;
    top: 0;
}

.div_header {
    width: 85%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.img_logo {
    width: 12vw;
    height: 8vh;
}

.bt_entrar {
    height: 6vh;
    padding: 0 1.5% 0 1.5%;
    border: solid 1px #0378A6;
    color: #025373;
    background-color: Branco Cinza;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: medium;
}