@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');


* {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
    /* background-image: url(imgs/solucao.png); */
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.App {
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;
}

.div_container_header {
    display: flex;
    justify-content: center;
    height: 13vh;
    width: 100%;
    background-color: rgba(240, 255, 255, 0);
    z-index: 999;
    position: fixed;
    top: 0;
}

.div_header {
    width: 85%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.img_logo {
    width: 12vw;
    height: 8vh;
}

.bt_entrar {
    height: 6vh;
    width: 6vw;
    border: solid 1px #0378A6;
    color: #025373;
    background-color: Branco Cinza;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: medium;
}


.botoes{
    display: flex;
    width: 17.5vw;
    justify-content: space-between;
}

.bt_cadastrar{
    height: 6vh;
    width: 10vw;
    border: none;
    color: #F2F2F2;
    background-color: #025373;
    border-radius: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: medium;
}

.imgSolucao{
    width: 20vw;
    height: 20vh;
}

.container_solucao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.solucao{
    width: 80%;
    display: flex;
}

.texto_solucao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.imgSolucao{
    width: 20vw;
    height: 40vh;
}