
.fundoPag {
    width: 100%;
    height: 100vh;
    background-image: url(../../utils/assets/solucao.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.imgSolucao{
    width: 20vw;
    height: 20vh;
}

.container_solucao{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8%;
}

.solucao{
    width: 80%;
    display: flex;
}

.texto_solucao{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.imgSolucao{
    width: 20vw;
    height: 40vh;
}