.overlay {
    position: absolute;
    width: calc(100vW - 16px);
    height: calc(100vh - 32px);
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.90);
    display: flex;
    flex-direction: column;
}

.history {
    top: 100%;
    left: 0;
    right: 0;
    background: white;
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    z-index: 1000;
}

.history-item {
    padding: 8px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
}

.history-item:hover {
    background-color: #f0f0f0;
}
