.card {
    width: 100%;
    position: relative;
    border-radius: 20px;
    background-color: #f2f2f2;
    max-height: 280px;
    height: 35vh;
    width: 20vw;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    box-shadow: 23px 14px 7px rgba(0, 0, 0, 0), 14px 9px 7px rgba(0, 0, 0, 0.01), 8px 5px 6px rgba(0, 0, 0, 0.05), 4px 2px 4px rgba(0, 0, 0, 0.09), 1px 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.recomendacao {
    border: 5px solid #228e26;
    box-sizing: border-box;
}

.textoRecomendacao {
    position: absolute;
    z-index: 1;
    border-radius: 10px 0px 15px 0px;
    background-color: #228e26;
    width: auto;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 6px 14px;
}

.textoRecomendacao h3 {
    margin: 0px;
    position: relative;
    font-size: 14.68px;
    font-family: Quicksand;
    color: #f2f2f2;
    text-align: left;
    
}

.fotoUsuario {
    width: 100%;
    position: relative;
    border-radius: 16px 16px 0px 0px;
    max-width: 100%;
    overflow: hidden;
    height: 184px;
    object-fit: cover;
    object-position: top;
}

.card h2 {
    width: calc(20vw - 32px);
    height: 7vh;
    position: relative;
    font-size: 18.65px;
    font-family: Quicksand;
    color: #000;
    text-align: left;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 8px 12px 0px 16px;
}

.infos{
    display: flex;
    flex-direction: column;
}

.info {
    margin: 0px 0px 0px 16px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    height: 45px;
}

.info:last-child{
    margin-bottom: 8px;
}

.info img {
    height: 25px;
    max-width: 100%;
}

.info p {
    position: relative;
    font-size: 18.65px;
    line-height: 20px;
    font-family: Quicksand;
    color: #000;
    text-align: left;
    font-weight: 500;   
}