.loading-div {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 1003;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);
    flex-direction: column;
}

.error-message {
    width: 600px;
    text-align: center;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Quicksand;
    font-size: 28.93px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 100px;
    margin-top: -30px;
}